.input {
  width: 100%;
  position: relative;
}

.label,
.input-hint {
  font-size: 10px;
  line-height: 12px;
  color: var(--black-50);
}

.input-hint {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
}

.label {
  position: absolute;
  left: 6px;
  top: -5px;
  padding: 0 4px;
  background-color: var(--white);
  opacity: 0;
  pointer-events: none;
  transition: all 333ms ease;
}

.label_active {
  opacity: inherit;
}

.input__field {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 2px;
  border: 1px solid var(--black-20);
  color: var(--black-75);
  transition: all 333ms ease;
  &::placeholder {
    color: var(--black-40);
    font-weight: 400;
  }
  &:hover {
    border-color: var(--black-40);
  }
  &:focus {
    border-color: var(--black-50);
    outline: none;
  }
}
