.modal-auth {
  width: 400px;
}

.input-block {
  padding: 0.5rem 0;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__button_close {
  background-color: var(--white);
  pad: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: var(--accent);
  border: 1px solid var(--white);
  border-radius: 2px;
  cursor: pointer;
  transition: all 333ms ease;
  opacity: 0.9;
  &:hover {
    border-color: var(--black-30);
    opacity: 0.8;
  }
  &:active {
    border-color: var(--black-50);
    opacity: 0.9;
  }
}
