.header {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.25);
  width: 100%;
  height: 60px;
}

.image-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
